.bg {

    width: 100%;
    height: 100%;

    background: #000 no-repeat fixed center;
    background-size: cover;
    color: #fff;
    background-image: url("../../images/centro-sp.jpg");

    .container-fluid {
        height: 100%;
        .row {
            height: 100%;
            .message-container {
                height: 100%;
                background-color: rgba(0,178,178,0.9);
            }
            .form-container {
                height: 100%;
                background-color: rgba(178,66,0,0.9);
            }
        } 
    }

}

